// Import page-specific CSS files here.
@import "home";
@import "front";
@import "restaurant";
@import "search";
@import "profile";
h1 {
  font-size: 52px;
  padding: 20px;
}

h2 {
  padding: 20px;
}
