<%= form_tag("/postcode", method: "get") do %>
  <div class="search-form">
    <%= text_field_tag(:postcode, nil, placeholder: 'Enter your postcode', class:"form-input") %>
    <%= submit_tag("Search", class:"btn") %>
  </div>
<% end %>
