<div class="dc-card">
  <div class="dc-img" style="background-image: url(<%= image_path('pasta_basil.jpg') %>);"></div>
  <div class="card-body">
    <div class="dc-content">
      <div class = "dc-left"><%= avatar_tag class: 'rounded-circle m-3', width: 40, height: 40 %><h4><b>John Doe</b></h4></div>
      <div class = "dc-right"><h4>Pasta & Basil</h4></div>
      
    </div>
  </div>
</div>
