<div class="card" style="width: 18rem;">
  <%= image_tag "pasta.jpeg", alt: "alttext", class: 'card-img-top' %>
  <div class="card-body">
    <h5 class="card-title"><%= dishlist.name %></h5>
    <p><%= link_to dishlist.user.email, user_dishlists_path(dishlist.user_id) %></p>
    <%= link_to 'View Dishlist', user_dishlist_path(dishlist.user_id, dishlist.id), class: "btn btn-primary" %>
  </div>
</div>
