<nav class="navbar justify-flex-start footer sticky-bottom">
  <div class="links d-flex">
    <a class="nav-link" href="#">Contact us</a>
    <a class="nav-link" href="#">Terms</a>
    <a class="nav-link" href="#">Privacy</a>
  </div>
  <div class="socials d-flex">
    <a href="#"><i class="fab fa-facebook-square m-2 social"></i></a>
    <a href="#"><i class="fab fa-instagram-square m-2 social"></i></a>
    <a href="#"><i class="fab fa-twitter-square m-2 social"></i></a>
  </div>
  <div class="made-by">
    <%= link_to discover_path do %>
    <%= image_tag "PiattoLogo", class: 'footer-piatto-logo' %>
  <% end %>
  </div>
</nav>
