<div class="justeat_button_container text-center">
  <%= image_tag "justeat_logo.png", class: "button-logo" %>
  <%= link_to "Order Via JustEat", "#{restaurant.url}/menu", target: "_blank", class: 'btn btn-warning justeat_button'  %>
</div>

