<div class="user-card">
  <%= avatar_tag user: user, class: 'rounded-circle m-3', width: 150, height: 150 %>
  <p class="uc-name"><%= "#{user.first_name} #{user.last_name}" %></p>
  <p class="uc-username"><%= user.username == '{}' ? 'No username' : user.username %></p>
</div>
