<h1>Discover</h1>


<% if !@people_you_follow.empty? %>
  <h2>People you follow</h2>
  <div class="row">
    <% @people_you_follow_have_been_enjoying.each do |dish| %>
      <%= dish.name %>
    <% end %>
  </div>
<% else %>
  <p class="p-3"><em><strong>Follow</strong> some people to see their <strong>favourite</strong> dishes.</em></p>
<% end %>

<% if !@recc_similar_dishes.empty? %>
  <h2>Dishes you might enjoy</h2>
  <div class="row">
    <% @recc_similar_dishes.each do |dish| %>
      <%= dish.name %>
    <% end %>
  </div>
<% else %>
  <p class="p-3"><em>Make some <strong>dishlists</strong> to see <strong>similar dishes</strong>.</em></p>
<% end %>


<% if !@people_you_follow.empty? %>
  <h2>People you follow</h2>
  <div class="row">
    <% @people_you_follow.each do |user| %>
      <%= user.username %>
    <% end %>
  </div>
<% else %>
  <p class="p-3"><em><strong>Follow</strong> some people to see their profiles.</em></p>
<% end %>

