<h1>Discover</h1>
<div class="container">
  <h2>People you follow have been enjoying</h2>
</div>
<div class="container">
  <h2>Dinner, based on your preferences</h2>
</div>
<div class="container">
 <h2>People you follow</h2>
</div>

