<div class="container">
  <%= image_tag "PiattoLogo", class: 'pt-4', width: 100 %>
  <div class="home">
    <h1>The social<br>network for<br>your next meal</h1>
    <p>Discover, share and compare delicious new dishes near you</p>
    <%= render 'shared/address_form' %>
  </div>
</div>
