<h1><%= @dish.name %></h1>
<h2><%= @dish.restaurant.name %></h2>
<h5><%= @dish.description %></h5>

<div class="dflex">
  <% @dishes.each do |dish| %>
    <%= render 'shared/dish_card', dish: dish %>
  <% end %>
</div>