<div class="restaurant-show">
  <div class="bg-image"></div>
    <div class="bg-text">
      <h1><%= @restaurant.name %></h1>
      <p><%= @restaurant.postcode %></p>
      <% if local_restaurants_array.include?(@restaurant.just_eat_id) %>
        <%= render 'shared/justeat_button', restaurant: @restaurant %>
      <% end %>
  </div>
  <div class="restaurant-dishes">
    <% @dish.each do |dish| %>
      <%= render "shared/dish_card", dish: dish %>
    <% end %>
  </div>
</div>
