.discover-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 250px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  height: 200px;
  position: relative;
}

.discover-card-user {
  width: 300px;
}

.dc-img {
  height: 200px;
  border-radius: 5px 5px 0 0;
  background-size: cover;
  background-position: center;
  background-size: cover;
}

.discover-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dc-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
  justify-content: space-between;
}

.middle-section {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.restaurant-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.dc-btn {
  margin-right: 50px;
}

.avatar-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.avatar-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.ratings {
  align-items: center;
}

.justeat {
  position: absolute;
  bottom: 10px;
  right: 70px;
}

.dc-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
