.footer {
  height: 60px;
  width: 100%;
  background-color: $light-gray;
}

.social {
  text-decoration: none;
  color: $pink;
  font-size: 32px
}

.made-by {
  color: $orange;
  font-size: 12px;
}

.nav-link {
  text-decoration: none;
  color: $gray;
}

.footer-piatto-logo {
  width: 80px;

}

.social:hover {
  color: $gray;
}

.min-height {
  min-height: calc(100vh - 148px);
}