.navbar-lewagon {
  justify-content: flex-end;
  width: 100%;
  }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.dropdown-toggle {
  transition: all .2s;
}

.dropdown-toggle:hover {
  cursor: pointer;
  text-decoration: underline;
}

.dropdown-toggle::after {
  display: none;
}
