.user-card {
  box-shadow: 0 0 30px rgba(50, 50, 50, 0.1);
  border-radius: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: black;
  margin: 15px;
  &:hover {
    text-decoration: none;
  }
  text-decoration: none;
}

.user-card {
  p {
    width: 100%;
    text-align: center;
  }
}

.uc-link {
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: none;
  }
}

.uc-name {
  margin: 0;
  text-align: center;
  width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:hover {
    text-decoration: none;
  }
}

.uc-username {
  font-style: italic;
  font-size: 10px;
  text-align: center;
  width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:hover {
    text-decoration: none;
  }
}
